.not-found-container {
  width: 30%;
  background-color: #95dada;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 25px;
  margin: auto;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.not-found-container h1 {
  color: black;
}

.not-found-container img {
  width: 50%;
  display: block;
  margin: auto;
}